<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 


<mapper namespace="com.project.telly.service.dao.adminDAO">

<!-- 비지터 정보 insert -->
<insert id="insertVisitor">
	insert into visitor(visitNum, visitId, visitIp, visitRefer, visitAgent) 
	values (visitor_seq.NEXTVAL,#{visitId},#{visitIp},#{visitRefer},#{visitAgent})
</insert>

</mapper>