<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!-- 맵핑될 인터페이스 -->
<mapper namespace="com.project.telly.service.dao.memberDAO">

	<insert id="insertMember">
		insert into member(id,password,nickname,birth,email,gender,profileImg) 
		values(#{id},#{password},#{nickname},#{birth},#{email},#{gender},#{profileImg})
	</insert>
	<select id="login" resultType="memberVO">
		select * from member where id=#{id} and password=#{password}
	</select>
	<select id="selectPoint" resultType="Integer">
		select point from member where id=#{id}
	</select>
	<update id="updatePointReview">
		update member set point=point+100 where id=#{id}
	</update>
</mapper>