<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!-- 맵핑될 인터페이스 -->
<mapper namespace="com.project.telly.service.dao.reviewDAO">

	<insert id="insertReview">
		insert into review(num, writer, title, subtitle, description, netflix, watcha, wavve, laftel, kakao, coupang, naver)
		values(review_seq.NEXTVAL,#{writer},#{title},#{subtitle},#{description},#{netflix},
		#{watcha},#{wavve},#{laftel},#{kakao},#{coupang},#{naver})
	</insert>
</mapper>