<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!-- 맵핑될 인터페이스 -->
<mapper namespace="com.project.telly.service.dao.reviewDAO">
	
	<!-- 리뷰 포스트 -->
	<insert id="insertReview">
		insert into review(num, writer, title, subtitle, description, netflix, watcha, wavve, laftel, kakao, coupang, naver)
		values(review_seq.NEXTVAL,#{writer},#{title},#{subtitle},#{description},#{netflix},
		#{watcha},#{wavve},#{laftel},#{kakao},#{coupang},#{naver})
	</insert>
	
	<!-- 탑리뷰 -->
	<select id="topReviews"  resultType="reviewVO">
		<![CDATA[select * from review where rownum < = 3 order by likes desc]]>
	</select>
	
	<select id="latestReviews"  resultType="reviewVO">
		select * from review order by writetime desc
	</select>
	
	<select id="viewReview" resultType="reviewVO">
		select * from review where num=#{num}
	</select>
	
	<delete id="deleteReview">
		delete from review where num=#{num}
	</delete>
	
	<update id="updateReview">
		update review set title=#{title}, writetime=sysdate, subtitle=#{subtitle},
			description=#{description}, netflix=#{netflix}, watcha=#{watcha},
			laftel=#{laftel}, kakao=#{kakao}, coupang=#{coupang}, naver=#{naver} 
			where num=#{num}
	</update>
	
	
	<!-- 댓글 -->
	<insert id="insertReviewComment">
		insert into reviewComment(num,writer,content,reviewNum) values(reviewComment_seq.NEXTVAL,#{writer},
		#{content},#{reviewNum})
	</insert>
	<select id="selectReviewComment" resultType="reviewCommentVO">
		select * from reviewComment where reviewNum=#{reviewNum} order by num desc
	</select>
	<delete id="deleteReviewComment">
		delete from reviewComment where num=#{num}
	</delete>
	<update id="updateReviewComment">
	update reviewComment set content=#{content},writetime=sysdate where num=#{num}
	</update>
	<select id="countReviewComment" resultType="int">
		select count(*) from reviewComment where reviewNum=#{reviewNum}
	</select>
	
	
	<!-- 리뷰 좋아요 -->
	<insert id="likeReview">
		insert into likeReview(id,num) values(#{id},#{num})
	</insert>
	<update id="updateLikeReview">
		update review set likes=likes+1 where num=#{num}
	</update>
	<update id="cancleLikeReview">
		update review set likes=likes-1 where num=#{num}
	</update>
	<delete id="deleteLike">
		delete from likeReview where id=#{id} and num=#{num}
	</delete>
	<select id="cntLikeReview" resultType="int">
		select count(*) from review where num=#{num}
	</select>
	
	<!-- 텔리로그 -->
	<select id="myLikeReview" resultType="myLikeReviewVO">
		select a.num,a.writer,a.title,a.subtitle,a.likes, b.liketime, b.id from review a,
		likereview b where a.num=b.num and b.id=#{id} order by liketime desc
	</select>
	
	<select id="myReview" resultType="reviewVO">
		select * from review where writer=#{writer}
	</select>
	
	
	<!-- 스크롤 -->
	<select id="listAll" resultType="reviewVO">
	<![CDATA[select * from (select rownum as rnum, a.* from 
	(select * from review order by writetime desc) a 
	where rownum <= #{nowPageStart} + #{pageCnt}) where rnum > #{nowPageStart}]]>
	</select>
	
	<select id="allCount" resultType="int">
		select count(*) from review
	</select>
</mapper>