<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!-- 맵핑될 인터페이스 -->
<mapper namespace="com.project.telly.service.dao.showDAO">

<!-- 영화 삽입 -->
<insert id="insertShow">
	insert into shows(showNum,title,year,performer,
	genre,platform,story,poster,firstPer)
	values(shows_seq.NEXTVAL,#{title},#{year},#{performer},
	#{genre},#{platform},#{story},#{poster},#{firstPer})
</insert>

<select id="showList" resultType="showVO">
	select * from shows
</select>

<select id="selectShow" resultType="showVO">
	select * from shows where showNum=#{showNum}
</select>

<update id="updateShow">
	update shows set year=#{year}, performer=#{performer}, genre=#{genre},
		platform=#{platform}, story=#{story}, updatePer=#{updatePer} where showNum=#{showNum}
</update>

<!-- show 짧은 리뷰 -->
<insert id="insertShowComment">
	insert into showComment(num,writer,content,showNum) values (showComment_seq.NEXTVAL,#{writer},#{content},#{showNum})
</insert>

<select id="selectShowComment" resultType="showCommentVO">
	select * from showComment where showNum=#{showNum} order by num desc
</select>

<update id="updateShowComment">
	update showComment set content=#{content}, writetime=sysdate
</update>

<delete id="deleteShowComment">
	delete from showComment where num=#{num}
</delete>
</mapper>